@media screen and (max-width: 600px) {
	/* This rule will be applied if the screen size is 1024px or less. */
#body-container{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	background-color: #ddd;
}
header{
	max-width: 600px;
	width: 100%;
}
.variable .slick-slide img {
	max-height: none;
}
#outer-div{
	max-width:600px;
}
}